<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question Answering App - Inicio</title>
  </head>
  <body>
    <h1>Question Answering App - Inicio</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="file">Seleccione un archivo para cargar:</label><br />
      <input type="file" id="file" name="file" /><br />
      <button type="submit">Cargar Archivo</button>
    </form>
  </body>
</html>
